.todoLength {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */ /* Цвет фона */
  /* padding: 5px; Поля вокруг текста */
  text-overflow: ellipsis; /* Добавляем многоточие */
  
}
